<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyaxs.nyastore.mapper.MembersMapper">
  <resultMap id="BaseResultMap" type="com.nyaxs.nyastore.entity.Members">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="personalized_signature" jdbcType="VARCHAR" property="personalizedSignature" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from members
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nyaxs.nyastore.entity.Members">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into members (`name`, `password`, nickname, 
      `rank`, phone, create_time, 
      gender, `status`, birthday, 
      personalized_signature, email)
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER}, #{phone,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{gender,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, 
      #{personalizedSignature,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nyaxs.nyastore.entity.Members">
    update members
    set `name` = #{name,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      `rank` = #{rank,jdbcType=INTEGER},
      phone = #{phone,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      gender = #{gender,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      personalized_signature = #{personalizedSignature,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, `name`, `password`, nickname, `rank`, phone, create_time, gender, `status`, 
    birthday, personalized_signature, email
    from members
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, `password`, nickname, `rank`, phone, create_time, gender, `status`, 
    birthday, personalized_signature, email
    from members
  </select>
</mapper>